<% if flash[:notice] %>
  <div class="alert alert-success">
    <div class="container">
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>
<% if flash[:error] %>
  <div class="alert alert-danger">
    <div class="container">
      <%= flash[:error] %>
    </div>
  </div>
<% end %>