.navbar {
  padding-left: 15px;
  padding-right: 15px;
  .btn {
    margin-left: 10px;
  }
}

a {
  text-decoration: none;
}

.field_with_errors {
  width: 100%;
}

.post {
  &.card {
    width: 18rem;
    height: 26rem;
  }

  .card-header {
    height: 5rem;
  }

  .card-body {
    height: 15rem;
  }

  .card-footer {
  height: 6rem;
  }
}

.btn {
  margin-right: 5px;
}