<%= render 'shared/header', title: 'Posts', post: @post %>

<section class="position-relative row justify-content-center"> 
  <%= render @posts %>
  <%= will_paginate @posts, class: 'will_paginate' %>
</section>